.canvas-style {
    width: 100%;
    height: 423px;
}


.slider-height {
    width: 100% !important;
    height: 400px !important;
    position: inherit
}

.carousel-container .container {
    width: 90%
}

.carousel-image {
    height: inherit !important
}
